/* ============[ Css Import ]=========== */
h1, h2, h3, h4, h5, h6, input, textarea, button {
  font-family: IRANSans !important; }

body {
  height: 100%;
  overflow-x: hidden;
  font-family: IRANSans !important;
  font-weight: 500;
  direction: rtl;
  margin: 0; }

html {
  overflow-x: hidden;
  overflow-y: hidden; }

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px; }

.custom-file-upload {
  padding-right: 0;
  display: block;
  width: auto;
  font-size: 16px;
  margin-top: 30px;
  float: right; }

.custom-file-upload label {
  display: block;
  margin-bottom: 5px; }

.file-upload-wrapper {
  position: relative;
  margin-bottom: 5px; }

.file-upload-input {
  background-color: #eeeeee;
  width: 300px;
  font-size: 16px;
  padding: 11px 17px;
  border: none;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
  color: black;
  /* IE 9 Fix */ }

.file-upload-input:focus {
  outline: none; }

.file-upload-button, .confSettingBox.file-upload-button {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  padding: 9px 20px;
  border: none;
  margin-left: 18px;
  background-color: #232323;
  float: left;
  /* IE 9 Fix */
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }

@media (max-width: 600px) {
  .file-upload-input {
    width: 100px; } }
/*******
add new
********/
.form-control:focus {
  border-color: #242833;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 8px rgba(36, 40, 51, 0.3);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.03), 0 0 8px rgba(36, 40, 51, 0.3); }

.btn:active:focus, .btn:focus {
  outline: 0 auto -webkit-focus-ring-color;
  outline-offset: -2px;
  outline: none; }

/*******
sideBar
********/
.admin_sidebar {
  background-color: #242833;
  height: 120vh;
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  width: 13%;
  text-align: center; }
  .admin_sidebar a {
    text-decoration: none; }

.admin_side_title.left_space {
  padding-left: 0;
  margin-right: -5.4%; }

.admin_side_title {
  font-size: 15px;
  border-bottom: 1px solid white;
  padding-top: 18px;
  padding-bottom: 18px;
  font-weight: 400;
  padding-right: 10%;
  padding-left: 30%; }

.set_fa {
  margin-right: 15%; }

.zhenic_title {
  font-size: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  padding-top: 50px;
  padding-bottom: 50px;
  font-weight: 400; }

h5.zhenic_title,
h5.admin_side_title {
  text-align: center;
  color: white;
  margin: 0; }

@media (min-width: 0px) {
  .admin_sidebar {
    float: right;
    width: 16.65%; } }
.menu_shadow {
  box-shadow: 0 0 6px gray; }

/**********
spline gray
***********/
.col-xs-12.spline {
  height: 50px;
  background-color: #f4f4f4;
  margin-top: 0.2%; }

/*******
menu bar
********/
.pull-right.home_top {
  margin-right: 2.8%; }

.pull-left.exit_up {
  margin-left: -21%; }

.zhenic_menubar,
.exit_menubar {
  color: black; }

.ok_btn {
  font-size: 13px;
  padding-top: 2%;
  padding-bottom: 2.5%;
  margin-top: 5%;
  background-color: #039e7e;
  color: white; }

.no_btn {
  font-size: 13px;
  padding-top: 2%;
  padding-bottom: 2.5%;
  margin-top: 5%;
  background-color: #c44649;
  color: white; }

/****************
activate menu bar
*****************/
.admin_side_title.active {
  background-color: #46B594;
  opacity: 0.5; }

/******************
responsive side bar
*******************/
@media (max-width: 850px) {
  .pull-left.exit_up {
    margin-left: 1%; } }
@media (max-width: 780px) {
  .set_fa {
    margin-right: 50%; }

  .xs_pr {
    margin-right: 38%; } }
@media (max-width: 576px) {
  .admin_side_title {
    font-size: 11px; }

  .zhenic_title {
    font-size: 22px; }

  .input_label {
    font-size: 14px; }

  .send_btn {
    font-size: 16px; }

  input[type="text"].inputSerial::-webkit-input-placeholder {
    font-size: 7px; }

  input[type="text"].inputSerial::-moz-placeholder {
    font-size: 7px; }

  .button_box {
    padding-top: 30%; }

  .btn_choose {
    font-size: 8px; } }
@media (min-width: 577px) {
  .admin_side_title {
    font-size: 12px; }

  .zhenic_title {
    font-size: 24px; }

  .input_label {
    font-size: 15px; }

  .send_btn {
    font-size: 18px; }

  input[type="text"].inputSerial::-webkit-input-placeholder {
    font-size: 11px; }

  input[type="text"].inputSerial::-moz-placeholder {
    font-size: 11px; }

  .btn_choose {
    font-size: 9px; } }
@media (min-width: 768px) {
  .admin_side_title {
    font-size: 13px; }

  .zhenic_title {
    font-size: 26px; }

  .input_label {
    font-size: 16px; }

  .send_btn {
    font-size: 20px; }

  input[type="text"].inputSerial::-webkit-input-placeholder {
    font-size: 12px; }

  input[type="text"].inputSerial::-moz-placeholder {
    font-size: 12px; }

  .btn_choose {
    font-size: 10px; } }
@media (min-width: 992px) {
  .admin_side_title {
    font-size: 14px; }

  .zhenic_title {
    font-size: 28px; }

  .input_label {
    font-size: 18px; }

  .send_btn {
    font-size: 22px; }

  input[type="text"].inputSerial::-webkit-input-placeholder {
    font-size: 13px; }

  input[type="text"].inputSerial::-moz-placeholder {
    font-size: 13px; }

  .btn_choose {
    font-size: 11px; } }
@media (min-width: 1200px) {
  .admin_side_title {
    font-size: 15px; }

  .zhenic_title {
    font-size: 30px; }

  .input_label {
    font-size: 20px; }

  .send_btn {
    font-size: 24px; }

  input[type="text"].inputSerial::-webkit-input-placeholder {
    font-size: 15px; }

  input[type="text"].inputSerial::-moz-placeholder {
    font-size: 15px; }

  .btn_choose {
    font-size: 14px; } }
/****-----
scroll bar
------****/
.height_vh {
  height: 100vh; }

.scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  margin-right: -1%; }

.scroll_padding {
  padding-left: 0;
  margin-left: -3px;
  padding-right: 0; }

.makeUser_title {
  padding-top: 2%; }

.user_info_row {
  margin-top: 3%; }

.padding_right {
  margin-right: 3.7%; }

.dropdown-menu {
  min-width: 80px; }

/* ============[ create post  ]=========== */
.createPostBox.padding_right {
  padding-left: 3.4%;
  padding-top: 4%; }

.createPostBox {
  /***-------------
       input
--------------***/ }
  .createPostBox #sendMessageInput {
    height: 40px;
    background-color: #eeeeee;
    border-radius: 0; }
  .createPostBox #inputCommentsMessage {
    border-radius: 0;
    padding-top: 1.5%;
    padding-bottom: 23%;
    background-color: #eeeeee; }
  .createPostBox textarea::-webkit-input-placeholder {
    font-size: 17px !important; }
  .createPostBox textarea:-moz-placeholder {
    /* Firefox 18- */
    font-size: 17px !important; }
  .createPostBox textarea::-moz-placeholder {
    /* Firefox 19+ */
    font-size: 17px !important; }
  .createPostBox textarea:-ms-input-placeholder {
    font-size: 17px !important; }
  .createPostBox .conf_button_upload,
  .createPostBox .conf_button_upload:hover,
  .createPostBox .conf_button_upload:focus {
    margin-top: 26px;
    font-size: 16px;
    height: 40px;
    border-radius: 0;
    margin-right: 25%;
    color: white;
    background-color: #232323; }
  .createPostBox .conf_button_upload_inside {
    margin-top: 26px;
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #eeeeee;
    border: 1px solid #ccc; }
  .createPostBox .conf_make_post_btn {
    width: 110px;
    height: 40px;
    font-size: 17px;
    border-radius: 0;
    background-color: #46B594;
    text-align: center;
    color: white; }
  @media (max-width: 1200px) {
    .createPostBox .conf_button_upload {
      margin-right: 0; } }
  .createPostBox hr {
    border-top: 1px solid gray; }
  .createPostBox .file-upload-input {
    width: 380px; }
  @media (max-width: 800px) {
    .createPostBox .file-upload-input {
      width: 200px; } }

/* ============[ answer msg  ]=========== */
.answerMsgBox {
  /******-----------------
  comment and answer panel
  -----------------*******/
  /****----------------
     input comments
  ----------------*****/
  /*****-----------
     last button
  -------------*****/
  /****------------
    search input
  --------------****/
  /******-----------------
     responsive font-size
  -------------------******/ }
  .answerMsgBox .white_box_padding {
    padding-right: 4%;
    padding-left: 4%; }
  .answerMsgBox .first_panel {
    margin-top: 70px;
    border-radius: 0;
    border: 1px solid gray; }
  .answerMsgBox .panel-default > .first_header_box {
    background-color: #252525;
    border: 1px solid gray;
    color: white; }
  .answerMsgBox .panel-default > .panel-body {
    background-color: #f4f4f4; }
  .answerMsgBox .panel-body p {
    font-weight: 500;
    line-height: normal; }
  .answerMsgBox .second_panel {
    border-radius: 0;
    border: 1px solid #7c7c7c;
    margin-top: 60px; }
  .answerMsgBox .textOfAnswer {
    padding-bottom: 0;
    margin-bottom: 0; }
  .answerMsgBox .first_panelBody {
    background-color: white; }
  .answerMsgBox .second_heading {
    padding-top: 25px;
    padding-bottom: 25px; }
  .answerMsgBox .panel-default > .second_header_box {
    background-color: #252525;
    color: white;
    border: 1px solid gray;
    border-radius: 0; }
  .answerMsgBox .second_answer_head {
    padding-top: 13px;
    padding-bottom: 13px; }
  .answerMsgBox #inputComments_answer {
    border-radius: 0;
    background-color: #f4f4f4;
    padding-bottom: 25%; }
  .answerMsgBox textarea::-webkit-input-placeholder {
    color: dimgrey !important;
    font-size: 1.2vw !important;
    padding-top: 2%; }
  .answerMsgBox textarea:-moz-placeholder {
    /* Firefox 18- */
    color: dimgrey !important;
    font-size: 1.2vw !important;
    padding-top: 2%; }
  .answerMsgBox textarea::-moz-placeholder {
    /* Firefox 19+ */
    color: dimgrey !important;
    font-size: 1.2vw !important;
    padding-top: 2%; }
  .answerMsgBox textarea:-ms-input-placeholder {
    color: dimgrey !important;
    font-size: 1.2vw !important;
    padding-top: 2%; }
  .answerMsgBox .answer_send {
    background-color: #0198d4;
    text-align: center;
    margin-top: 15%;
    border-radius: 0;
    color: white;
    border: 2px solid #0198d4;
    box-shadow: 0 0 3px #0198d4;
    width: 100%;
    margin-bottom: 150px; }
  .answerMsgBox .subject_answer {
    margin-top: -2.7%;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 34px;
    width: 25%;
    margin-left: 1%; }
  .answerMsgBox #inpuSubAns {
    border-radius: 0;
    font-size: 1vw;
    height: auto;
    padding-top: 3.5%;
    padding-bottom: 3.5%;
    margin-top: 7%; }
  .answerMsgBox .panel-default {
    border-color: lightgray; }
  .answerMsgBox .container-fluid {
    overflow: hidden; }
  @media (max-width: 543px) {
    .answerMsgBox .panel-body p {
      font-size: 12px; }
    .answerMsgBox .heading_panel {
      font-size: 13px; }
    .answerMsgBox .second_answer_head {
      font-size: 9px; }
    .answerMsgBox .answer_send {
      font-size: 8px; } }
  @media (min-width: 544px) {
    .answerMsgBox .panel-body p {
      font-size: 13px; }
    .answerMsgBox .heading_panel {
      font-size: 14px; }
    .answerMsgBox .second_answer_head {
      font-size: 15px; }
    .answerMsgBox .answer_send {
      font-size: 13px; } }
  @media (min-width: 768px) {
    .answerMsgBox .panel-body p {
      font-size: 14px; }
    .answerMsgBox .heading_panel {
      font-size: 15px; }
    .answerMsgBox .second_answer_head {
      font-size: 16px; }
    .answerMsgBox .answer_send {
      font-size: 14px; } }
  @media (min-width: 1150px) {
    .answerMsgBox .panel-body p {
      font-size: 15px; }
    .answerMsgBox .heading_panel {
      font-size: 16px; }
    .answerMsgBox .second_answer_head {
      font-size: 17px; }
    .answerMsgBox .answer_send {
      font-size: 15px; } }
  @media (min-width: 1200px) {
    .answerMsgBox .panel-body p {
      font-size: 15px; }
    .answerMsgBox .heading_panel {
      font-size: 16px; }
    .answerMsgBox .second_answer_head {
      font-size: 16px; }
    .answerMsgBox .answer_send {
      font-size: 16px; } }
  .answerMsgBox .panel-body p {
    font-weight: 500; }
  .answerMsgBox .answerMsgBtn {
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 0;
    background-color: #46B594;
    text-align: center;
    margin-bottom: 200px;
    color: white; }

/* ============[ admin profile  ]=========== */
.adminProfileBox {
  padding-top: 2%;
  padding-right: 3%; }
  .adminProfileBox h3 {
    font-size: 22px;
    font-weight: 600; }
  .adminProfileBox hr {
    border-top: 2px solid lightgray; }
  .adminProfileBox label {
    font-size: 17px; }
  .adminProfileBox input {
    height: 45px;
    border-radius: 0;
    background-color: #eeeeee; }
  .adminProfileBox .editBtnConf {
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 0;
    background-color: #46B594;
    text-align: center;
    margin-bottom: 200px;
    color: white; }

/* ============[ post  ]=========== */
.confPostBox {
  /******-------
    head button
  --------******/
  /*****----
    table
  ------****/
  /****-------------------
   dropDown menu in head
  -------------------*****/
  /*****--------
    pagination
  ----------*****/
  /****-------------------
     responsive fontsize
  --------------------*****/ }
  .confPostBox a {
    text-decoration: none; }
  .confPostBox .margin_right_2nd_title {
    margin-right: 3%;
    margin-top: 2%;
    font-weight: 800; }
  .confPostBox .adv_btn {
    border-radius: 20px;
    background-color: #a85c5c;
    color: white;
    margin-left: 20%;
    width: 50%; }
    .confPostBox .adv_btn a {
      color: white; }
  .confPostBox .table_padding {
    padding-right: 5.4%;
    padding-left: 5.5%; }
  .confPostBox .table-bordered > tbody > tr > td {
    text-align: center;
    font-weight: 500; }
  .confPostBox .table > thead:first-child > tr:first-child > th {
    text-align: center;
    color: white;
    background-color: #252525;
    font-weight: 400; }
  .confPostBox .test:after {
    content: '\2807';
    font-size: 1.5em;
    color: #2e2e2e; }
  .confPostBox .dropdown-menu {
    top: 0;
    padding-right: 20%;
    padding-left: 20%;
    margin-right: 100px; }
  .confPostBox .dropdown-menu > li > a {
    padding: 0;
    text-align: center; }
  .confPostBox .dropdown-menu {
    min-width: 100px; }
  .confPostBox .pagination > li:first-child > a, .confPostBox .pagination > li:first-child > span, .confPostBox .pagination > li:last-child > a, .confPostBox .pagination > li:last-child > span {
    border-radius: 0; }
  .confPostBox .activate_pag.active {
    background-color: #0198d4; }
  .confPostBox .pagination > li > a {
    font-size: 15px;
    font-weight: 500; }
  @media (max-width: 543px) {
    .confPostBox .padding_pagination {
      padding-right: 6%; }
    .confPostBox .table-bordered > tbody > tr > td, .confPostBox .table > thead:first-child > tr:first-child > th {
      font-size: 10px; }
    .confPostBox .table-bordered > tbody > tr > td:first-child {
      font-size: 11px;
      font-weight: 800; }
    .confPostBox .list_title {
      font-size: 14px; }
    .confPostBox .adv_btn {
      font-size: 11px; }
    .confPostBox .pagination > li > a {
      font-size: 10px; }
    .confPostBox .dropdown-menu > li > a {
      font-size: 10px; }
    .confPostBox .adv_btn {
      width: 90%; } }
  @media (min-width: 544px) {
    .confPostBox .padding_pagination {
      padding-right: 10%; }
    .confPostBox .table-bordered > tbody > tr > td, .confPostBox .table > thead:first-child > tr:first-child > th {
      font-size: 11px; }
    .confPostBox .table-bordered > tbody > tr > td:first-child {
      font-size: 12px;
      font-weight: 800; }
    .confPostBox .list_title {
      font-size: 15px; }
    .confPostBox .adv_btn {
      font-size: 12px; }
    .confPostBox .pagination > li > a {
      font-size: 12px; }
    .confPostBox .adv_btn {
      width: 60%; } }
  @media (min-width: 768px) {
    .confPostBox .padding_pagination {
      padding-right: 12%; }
    .confPostBox .table-bordered > tbody > tr > td, .confPostBox .table > thead:first-child > tr:first-child > th {
      font-size: 12px; }
    .confPostBox .table-bordered > tbody > tr > td:first-child {
      font-size: 13px;
      font-weight: 800; }
    .confPostBox .list_title {
      font-size: 16px; }
    .confPostBox .adv_btn {
      font-size: 13px; }
    .confPostBox .pagination > li > a {
      font-size: 13px; }
    .confPostBox .adv_btn {
      width: 60%; } }
  .confPostBox .padding_pagination {
    margin-bottom: 100px;
    margin-top: 1%; }
  @media (min-width: 1150px) {
    .confPostBox .padding_pagination {
      padding-right: 5.5%; }
    .confPostBox .table-bordered > tbody > tr > td, .confPostBox .table > thead:first-child > tr:first-child > th {
      font-size: 14px; }
    .confPostBox .table-bordered > tbody > tr > td:first-child {
      font-size: 15px;
      font-weight: 800; }
    .confPostBox .list_title {
      font-size: 17px; }
    .confPostBox .adv_btn {
      font-size: 14px; }
    .confPostBox .pagination > li > a {
      font-size: 14px; }
    .confPostBox .adv_btn {
      width: 60%; } }
  @media (min-width: 1200px) {
    .confPostBox .padding_pagination {
      padding-right: 5.5%; }
    .confPostBox .table-bordered > tbody > tr > td, .confPostBox .table > thead:first-child > tr:first-child > th {
      font-size: 16px; }
    .confPostBox .table-bordered > tbody > tr > td:first-child {
      font-size: 17px;
      font-weight: 800; }
    .confPostBox .list_title {
      font-size: 19px; }
    .confPostBox .adv_btn {
      font-size: 15px; }
    .confPostBox .pagination > li > a {
      font-size: 15px; }
    .confPostBox .adv_btn {
      width: 50%; } }
  .confPostBox .table > thead:first-child > tr:first-child > th {
    padding-top: 14px;
    padding-bottom: 14px; }

/* ============[ post  ]=========== */
.confPmsBox {
  /*****----
    table
  ------****/
  /****-------------------
   dropDown menu in head
  -------------------*****/
  /*****--------
    pagination
  ----------*****/
  /****-------------------
     responsive fontsize
  --------------------*****/ }
  .confPmsBox .table_padding {
    padding-right: 5.4%;
    padding-left: 5.5%;
    margin-top: 2%; }
  .confPmsBox .table-bordered > tbody > tr > td {
    text-align: center;
    font-weight: 500; }
  .confPmsBox .table-bordered > tbody > tr > td.upper_td {
    padding-top: 3.7%; }
  .confPmsBox .table-bordered > tbody > tr.gray_back_color {
    background-color: #f4f4f4; }
  .confPmsBox .one_row_table {
    padding-top: 1%;
    padding-bottom: 0;
    padding-right: 4.8%; }
  .confPmsBox .date {
    color: darkgray; }
  .confPmsBox .name_h {
    margin-right: 0; }
  .confPmsBox .more_exp_tb {
    margin-right: -2%; }
  .confPmsBox .table_title {
    margin-top: 2%; }
  .confPmsBox .table > thead:first-child > tr:first-child > th {
    text-align: right;
    color: white;
    background-color: #252525;
    font-weight: 400;
    border: 1px solid transparent;
    padding-right: 2.4%; }
  .confPmsBox .test:after {
    content: '\2807';
    font-size: 1.5em;
    color: #2e2e2e; }
  .confPmsBox .dropdown-menu {
    top: 0;
    padding-right: 20%;
    padding-left: 20%;
    margin-right: 100px; }
  .confPmsBox .dropdown-menu > li > a {
    padding: 0;
    text-align: center; }
  .confPmsBox .dropdown-menu {
    min-width: 100px; }
  .confPmsBox .pagination > li:first-child > a, .confPmsBox .pagination > li:first-child > span, .confPmsBox .pagination > li:last-child > a, .confPmsBox .pagination > li:last-child > span {
    border-radius: 0; }
  .confPmsBox .activate_pag.active {
    background-color: #0198d4; }
  .confPmsBox .pagination > li > a {
    font-size: 15px;
    font-weight: 500; }
  @media (max-width: 543px) {
    .confPmsBox .padding_pagination {
      padding-right: 6%; }
    .confPmsBox .table-bordered > tbody > tr > td, .confPmsBox .table > thead:first-child > tr:first-child > th {
      font-size: 10px; }
    .confPmsBox .list_title {
      font-size: 16px; }
    .confPmsBox .adv_btn {
      font-size: 11px; }
    .confPmsBox .pagination > li > a {
      font-size: 10px; }
    .confPmsBox .icone_user {
      width: 30px;
      height: 30px;
      padding-right: 0; }
    .confPmsBox .dropdown-menu > li > a {
      font-size: 10px; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.name_h {
      font-size: 15px; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.date {
      font-size: 11px; }
    .confPmsBox .table-bordered > thead > tr > th > h4 {
      font-size: 15px; }
    .confPmsBox .badge {
      font-size: 8px;
      height: 11px;
      width: 11px; }
    .confPmsBox .name_h, .confPmsBox .date {
      font-size: 13px; } }
  @media (min-width: 544px) {
    .confPmsBox .padding_pagination {
      padding-right: 10%; }
    .confPmsBox .table-bordered > tbody > tr > td, .confPmsBox .table > thead:first-child > tr:first-child > th {
      font-size: 11px; }
    .confPmsBox .list_title {
      font-size: 17px; }
    .confPmsBox .adv_btn {
      font-size: 12px; }
    .confPmsBox .pagination > li > a {
      font-size: 12px; }
    .confPmsBox .icone_user {
      width: 40px;
      height: 40px;
      padding-right: 0; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.name_h {
      font-size: 17px; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.date {
      font-size: 13px; }
    .confPmsBox .table-bordered > thead > tr > th > h4 {
      font-size: 18px; }
    .confPmsBox .badge {
      font-size: 9px;
      height: 13px;
      width: 13px; }
    .confPmsBox .name_h, .confPmsBox .date {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .confPmsBox .padding_pagination {
      padding-right: 12%; }
    .confPmsBox .table-bordered > tbody > tr > td, .confPmsBox .table > thead:first-child > tr:first-child > th {
      font-size: 12px; }
    .confPmsBox .list_title {
      font-size: 18px; }
    .confPmsBox .adv_btn {
      font-size: 13px; }
    .confPmsBox .pagination > li > a {
      font-size: 13px; }
    .confPmsBox .icone_user {
      width: 50px;
      height: 50px;
      padding-right: 0; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.name_h {
      font-size: 18px; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.date {
      font-size: 15px; }
    .confPmsBox .table-bordered > thead > tr > th > h4 {
      font-size: 19px; }
    .confPmsBox .badge {
      font-size: 10px;
      height: 15px;
      width: 15px; }
    .confPmsBox .name_h, .confPmsBox .date {
      font-size: 15px; } }
  .confPmsBox .padding_pagination {
    margin-bottom: 100px;
    margin-top: 1%; }
  @media (min-width: 1150px) {
    .confPmsBox .padding_pagination {
      padding-right: 5.5%; }
    .confPmsBox .table-bordered > tbody > tr > td, .confPmsBox .table > thead:first-child > tr:first-child > th {
      font-size: 13px; }
    .confPmsBox .list_title {
      font-size: 19px; }
    .confPmsBox .adv_btn {
      font-size: 14px; }
    .confPmsBox .pagination > li > a {
      font-size: 14px; }
    .confPmsBox .icone_user {
      width: 50px;
      height: 50px;
      padding-right: 0; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.name_h {
      font-size: 19px; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.date {
      font-size: 15px; }
    .confPmsBox .table-bordered > thead > tr > th > h4 {
      font-size: 20px; }
    .confPmsBox .badge {
      font-size: 11px;
      height: 18px;
      width: 18px; }
    .confPmsBox .name_h, .confPmsBox .date {
      font-size: 18px; } }
  @media (min-width: 1200px) {
    .confPmsBox .padding_pagination {
      padding-right: 5.5%; }
    .confPmsBox .table-bordered > tbody > tr > td, .confPmsBox .table > thead:first-child > tr:first-child > th {
      font-size: 14px; }
    .confPmsBox .list_title {
      font-size: 20px; }
    .confPmsBox .adv_btn {
      font-size: 15px; }
    .confPmsBox .pagination > li > a {
      font-size: 15px; }
    .confPmsBox .icone_user {
      width: 75px;
      height: 75px; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.name_h {
      font-size: 20px; }
    .confPmsBox .table-bordered > tbody > tr > td > span > h4 > span.date {
      font-size: 16px; }
    .confPmsBox .table-bordered > thead > tr > th > h4 {
      font-size: 22px; }
    .confPmsBox .badge {
      font-size: 12px;
      height: 20px;
      width: 20px; }
    .confPmsBox .table_title {
      font-size: 20px; }
    .confPmsBox .name_h, .confPmsBox .date {
      font-size: 19px; } }
  .confPmsBox .icone_user {
    margin-top: 0.4%; }

/****-----
  badge
-----*****/
.badge {
  color: black;
  background-color: white;
  margin-top: -3%;
  padding-top: 4%; }

/* ============[ setting  ]=========== */
.confSettingBox {
  padding-right: 4%; }
  .confSettingBox .conf_button_upload,
  .confSettingBox .conf_button_upload:hover,
  .confSettingBox .conf_button_upload:focus {
    margin-top: 26px;
    font-size: 16px;
    height: 40px;
    border-radius: 0;
    color: white;
    background-color: #232323; }
  .confSettingBox .conf_button_upload {
    margin-right: -20%; }
  .confSettingBox .button_upload_box {
    padding-right: 3%; }
  @media (max-width: 1200px) {
    .confSettingBox .conf_button_upload {
      margin-right: 0; }
    .confSettingBox .button_upload_box {
      padding-right: 15px; } }
  .confSettingBox .conf_button_upload_inside {
    margin-top: 26px;
    width: 100%;
    height: 40px;
    border-radius: 0;
    background-color: #eeeeee;
    border: 1px solid #ccc; }
  .confSettingBox hr {
    border-top: 1px solid gray; }
  .confSettingBox input, .confSettingBox textarea {
    border-radius: 0;
    background-color: #eeeeee; }
  .confSettingBox input {
    height: 40px; }
  .confSettingBox .metaData {
    padding-bottom: 20%; }
  .confSettingBox h3 {
    font-size: 22px;
    font-weight: 800; }
  .confSettingBox .aboutUsTitle {
    margin-top: 40px;
    font-weight: 800; }
  .confSettingBox .textEditor {
    padding-bottom: 30%; }
  .confSettingBox .confTextAreaTable {
    font-size: 17px;
    font-weight: 800;
    padding-bottom: 2%; }
  .confSettingBox .add_btn {
    border-radius: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #039e7e;
    color: white;
    margin-top: 16%; }
  .confSettingBox .remove_btn {
    border-radius: 0;
    padding-top: 3%;
    padding-bottom: 3%;
    background-color: #c44649;
    color: white; }
  .confSettingBox #map {
    margin-right: 1.3%;
    width: 53.3%;
    height: 400px; }
  .confSettingBox input#inputHeight, .confSettingBox input#inputWidth {
    width: 70%;
    padding-top: 12%;
    padding-bottom: 12%;
    border-radius: 0;
    background-color: #f4f4f4; }
  @media (max-width: 576px) {
    .confSettingBox .add_btn, .confSettingBox .remove_btn {
      font-size: 8px;
      width: 90%; } }
  @media (min-width: 577px) {
    .confSettingBox .add_btn, .confSettingBox .remove_btn {
      font-size: 9px;
      width: 80%; } }
  @media (min-width: 768px) {
    .confSettingBox .add_btn, .confSettingBox .remove_btn {
      font-size: 11px;
      width: 70%; } }
  @media (min-width: 992px) {
    .confSettingBox .add_btn, .confSettingBox .remove_btn {
      font-size: 12px;
      width: 60%; } }
  @media (min-width: 1200px) {
    .confSettingBox .add_btn, .confSettingBox .remove_btn {
      font-size: 14px;
      width: 29%; } }
  .confSettingBox .conf_make_setting_btn {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 120px;
    height: 40px;
    font-size: 17px;
    border-radius: 0;
    background-color: #46B594;
    text-align: center;
    color: white; }
  .confSettingBox .file-upload-input {
    width: 398px; }
  @media (max-width: 800px) {
    .confSettingBox .file-upload-input {
      width: 200px; } }

/* ============[ speakers ]=========== */
.confSpeakersBox {
  padding-right: 4%;
  /*****----
  table
------****/
  /****-------------------
   dropDown menu in head
  -------------------*****/
  /****-------------------
     responsive fontsize
  --------------------*****/ }
  .confSpeakersBox hr {
    border-top: 2px solid lightgray; }
  .confSpeakersBox h3 {
    font-size: 19px;
    font-weight: 800; }
  .confSpeakersBox input.file-upload-input {
    height: 40px;
    border-radius: 0;
    background-color: #eeeeee; }
  .confSpeakersBox textarea {
    border-radius: 0;
    background-color: #eeeeee;
    padding-bottom: 15%; }
  .confSpeakersBox label {
    font-weight: 700; }
  .confSpeakersBox .conf_button_upload,
  .confSpeakersBox .conf_button_upload:hover,
  .confSpeakersBox .conf_button_upload:focus {
    margin-top: 26px;
    font-size: 16px;
    height: 40px;
    border-radius: 0;
    color: white;
    background-color: #232323;
    width: 110px; }
  .confSpeakersBox .conf_button_upload_inside {
    margin-top: 26px;
    height: 40px;
    border-radius: 0;
    background-color: #eeeeee;
    border: 1px solid #ccc;
    width: 100%; }
  .confSpeakersBox .conf_button_upload_box {
    padding-right: 5%; }
  @media (max-width: 1200px) {
    .confSpeakersBox .conf_button_upload_box {
      padding-right: 15px; } }
  .confSpeakersBox .ch-co-btn,
  .confSpeakersBox .ch-co-btn:hover,
  .confSpeakersBox .ch-co-btn:focus {
    margin-top: 26px;
    font-size: 16px;
    height: 40px;
    border-radius: 0;
    color: white;
    background-color: #46B594;
    width: 110px; }
  .confSpeakersBox .table_padding {
    padding-right: 5.4%;
    padding-left: 5.5%; }
  .confSpeakersBox .table-bordered > tbody > tr > td {
    text-align: center;
    font-weight: 500; }
  .confSpeakersBox .table-bordered > tbody > tr > td.upper_td {
    padding-top: 3.4%; }
  .confSpeakersBox .table > thead:first-child > tr:first-child > th {
    text-align: right;
    color: white;
    background-color: #252525;
    font-weight: 400;
    border: 1px solid transparent;
    padding-right: 1.1%; }
  .confSpeakersBox .test:after {
    content: '\2807';
    font-size: 1.5em;
    color: #2e2e2e; }
  .confSpeakersBox .dropdown-menu {
    top: 0;
    padding-right: 20%;
    padding-left: 20%;
    margin-right: 100px; }
  .confSpeakersBox .dropdown-menu > li > a {
    padding: 0;
    text-align: center; }
  .confSpeakersBox .dropdown-menu {
    min-width: 100px; }
  @media (max-width: 543px) {
    .confSpeakersBox .table-bordered > tbody > tr > td, .confSpeakersBox .table > thead:first-child > tr:first-child > th {
      font-size: 10px; }
    .confSpeakersBox .icone_user {
      width: 30px;
      height: 30px; }
    .confSpeakersBox .dropdown-menu > li > a {
      font-size: 10px; } }
  @media (min-width: 544px) {
    .confSpeakersBox .table-bordered > tbody > tr > td, .confSpeakersBox .table > thead:first-child > tr:first-child > th {
      font-size: 11px; }
    .confSpeakersBox .icone_user {
      width: 40px;
      height: 40px; } }
  @media (min-width: 768px) {
    .confSpeakersBox .table-bordered > tbody > tr > td, .confSpeakersBox .table > thead:first-child > tr:first-child > th {
      font-size: 12px; }
    .confSpeakersBox .icone_user {
      width: 50px;
      height: 50px; } }
  @media (min-width: 1150px) {
    .confSpeakersBox .table-bordered > tbody > tr > td, .confSpeakersBox .table > thead:first-child > tr:first-child > th {
      font-size: 13px; }
    .confSpeakersBox .icone_user {
      width: 60px;
      height: 60px; } }
  @media (min-width: 1200px) {
    .confSpeakersBox .table-bordered > tbody > tr > td, .confSpeakersBox .table > thead:first-child > tr:first-child > th {
      font-size: 14px; }
    .confSpeakersBox .icone_user {
      width: 70px;
      height: 70px; } }
  .confSpeakersBox .table > thead:first-child > tr:first-child > th {
    text-align: center;
    padding-top: 2.5%;
    padding-bottom: 2.5%; }
  .confSpeakersBox .table-bordered > tbody > tr > td {
    align-content: center;
    vertical-align: middle; }
  .confSpeakersBox .table {
    margin-bottom: 250px; }

/*# sourceMappingURL=application.css.map */
