/* ============[ Css Import ]=========== */
h3 {
  color: #B2B2B2; }

body {
  font-family: IRANSans !important; }

h1, h2, h3, h4, h5, h6, input, textarea, button {
  font-family: IRANSans !important; }

@media only screen and (min-width: 992px) {
  #backScrollColor {
    background-color: transparent; } }
@media only screen and (max-width: 991px) {
  #backScrollColor {
    background-color: #333 !important; } }
header {
  background-image: url("../../images/header-black.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%; }

.mainConferencesNavbar .navbar-light .navbar-nav .nav-link {
  color: white;
  font-weight: 500;
  padding-right: 18px;
  padding-left: 18px;
  font-size: 16px; }
.mainConferencesNavbar .navbar-light .navbar-nav .nav-link:hover {
  color: #46B594; }
@media only screen and (max-width: 1250px) {
  .mainConferencesNavbar .navbar-light .navbar-nav .nav-link {
    padding-right: 8px;
    padding-left: 8px;
    font-size: 14px; } }
@media only screen and (max-width: 1000px) {
  .mainConferencesNavbar .navbar-light .navbar-nav .nav-link {
    padding-right: 6px;
    padding-left: 6px;
    text-align: center;
    font-size: 15px; }
  .mainConferencesNavbar .loginButton {
    margin: 0 47%;
    font-weight: 600; }
  .mainConferencesNavbar .navbar-toggler, .mainConferencesNavbar .navbar-toggler:focus {
    color: white;
    border: 1px solid white;
    background-color: white; } }
.mainConferencesNavbar .navbar-brand, .mainConferencesNavbar .navbar-brand:hover, .mainConferencesNavbar .navbar-brand:focus {
  font-size: 16px;
  color: white; }
.mainConferencesNavbar .loginButton, .mainConferencesNavbar .loginButton:focus, .mainConferencesNavbar .loginButton:hover {
  border-radius: 9px;
  background-color: #46B594;
  border: 1px solid #46B594;
  box-shadow: 0 0 2px transparent;
  cursor: pointer; }
.mainConferencesNavbar a#login_link {
  width: 100%; }

.subjectConfH2, .subjectConfH1, .header_address {
  color: white;
  font-weight: 400; }

.header_address {
  line-height: normal; }

.subjectConfH2 {
  margin-top: 12%; }

.subjectConfH1 {
  word-spacing: 3px; }

.counter_second {
  color: #7FFF00; }

.counter_min {
  color: #DA00FF; }

.counter_day, .counter_hour, .counter_min, .counter_second {
  font-weight: 400; }

.counter_hour {
  color: cyan; }

.counter_day {
  color: #F6A623; }

hr {
  border-top: 2px solid white; }

.hr-right {
  margin-left: -40%;
  width: 80%; }

.hr-left {
  margin-right: -40%;
  width: 80%; }

.clockBox {
  direction: ltr; }
  .clockBox h1 {
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0 20px; }
  .clockBox #clockdiv {
    font-family: sans-serif;
    display: inline-block;
    font-weight: 800;
    text-align: center;
    font-size: 34px; }
  .clockBox #clockdiv > div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block; }
  .clockBox #clockdiv div > span {
    padding: 5px;
    font-size: 45px;
    border-radius: 3px;
    display: inline-block; }
  .clockBox .smalltext {
    padding-top: 5px;
    font-size: 30px;
    font-weight: 400;
    font-family: IRANSans; }

/* ============[ about conf ]=========== */
.aboutConf h5 {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  width: 17%; }
.aboutConf p {
  line-height: 30px;
  font-weight: 400;
  word-spacing: 2.5px; }
.aboutConf .btn {
  width: 125px;
  text-align: center; }
.aboutConf .btn-primary {
  color: white; }
.aboutConf .btn-primary, .aboutConf .btn-primary:focus {
  background-color: #46B594;
  border: 1px solid #46B594;
  box-shadow: 0 0 2px transparent;
  cursor: pointer;
  border-radius: 8px; }
.aboutConf .btn-outline-success {
  border: 1px solid #46B594;
  color: #46B594;
  box-shadow: 0 0 2px transparent;
  background-color: white;
  cursor: pointer;
  border-radius: 8px; }
.aboutConf .btn-outline-success:hover, .aboutConf .btn-outline-success:focus {
  border: 1px solid #46B594;
  box-shadow: 0 0 2px transparent;
  background-color: white;
  cursor: pointer;
  border-radius: 8px; }

/* ============[ about conf(black) ]=========== */
.blackBackAboutConf {
  background-color: #232323;
  z-index: 0; }
  .blackBackAboutConf p {
    line-height: 30px;
    font-weight: 400;
    color: white;
    word-spacing: 2.5px;
    padding-top: 7%; }
  .blackBackAboutConf .btn {
    width: 125px;
    text-align: center;
    cursor: pointer; }
  .blackBackAboutConf .btn-primary, .blackBackAboutConf .btn-primary:focus {
    background-color: #46B594;
    border: 1px solid #46B594;
    box-shadow: 0 0 2px transparent;
    cursor: pointer;
    border-radius: 8px;
    color: white; }
  .blackBackAboutConf .btn-primary:hover {
    color: white; }
  .blackBackAboutConf .btn-outline-success, .blackBackAboutConf .btn-outline-success:hover, .blackBackAboutConf .btn-outline-success:focus {
    border: 1px solid #46B594;
    color: white;
    box-shadow: 0 0 2px transparent;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px; }

/* ============[ mack book ]=========== */
.mackBookImageBox {
  margin-bottom: -9.5%;
  z-index: 1; }

/* ============[ present ]=========== */
.presentBox hr {
  border-top: 2px solid gray;
  width: 29%;
  text-align: center; }
.presentBox p {
  font-weight: 400; }
.presentBox .thirdCupImg {
  margin-left: -22%;
  margin-top: 6%; }
.presentBox .secondCupImg {
  margin-right: -22%;
  margin-top: 6%; }
.presentBox .firstCumImgBox {
  z-index: 0; }
.presentBox .secondCupImgBox {
  z-index: -1; }
@media only screen and (max-width: 1000px) {
  .presentBox .thirdCupImg {
    margin-left: -13%; }
  .presentBox .secondCupImg {
    margin-right: -13%; } }

/* ============[ creative experience ]=========== */
.creativeExperience {
  background-image: url("../../images/blueHand.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%; }

.creativeExperience {
  padding-top: 4%;
  padding-bottom: 3%; }
  .creativeExperience h4, .creativeExperience p {
    color: white;
    word-spacing: 3px; }
  .creativeExperience .btn-primary, .creativeExperience .btn-primary:focus {
    background-color: #46B594;
    border: 1px solid #46B594;
    box-shadow: 0 0 2px transparent;
    cursor: pointer;
    border-radius: 8px;
    width: 105px;
    text-align: center;
    margin-top: -2%;
    color: white; }

/* ============[ speakers ]=========== */
.speakerConf hr {
  border-top: 2px solid gray;
  text-align: center;
  width: 13%; }

.separate_hr {
  border-top: 2px solid gray; }

/* ============[ cadre ]=========== */
.executiveCadre hr {
  border-top: 2px solid gray;
  text-align: center;
  width: 9%; }

/* ============[ latest news ]=========== */
.latestNews {
  background-image: url("../../images/mountain.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 100%; }

.latestNews a {
  text-decoration: none; }
.latestNews hr {
  border-top: 3px solid white;
  text-align: center;
  width: 15%; }
.latestNews h3 {
  color: white;
  font-weight: 400; }
.latestNews .btn-primary, .latestNews .btn-primary:focus {
  background-color: #4990E2;
  border: 1px solid #4990E2;
  box-shadow: 0 0 2px transparent;
  cursor: pointer;
  border-radius: 8px;
  width: 125px;
  text-align: center;
  padding-top: 14px;
  padding-bottom: 14px;
  color: white; }

/* ============[ latest news ]=========== */
.supportersBox hr {
  border-top: 2px solid gray;
  text-align: center;
  width: 13%; }
.supportersBox .lighter_hr {
  border-top: 2px solid lightgray;
  text-align: center;
  width: 65%; }

/* ============[ contact ]=========== */
.contactWithUs {
  background-color: #46B594; }
  .contactWithUs h4 {
    color: white; }
  .contactWithUs hr {
    border-top: 2px solid white;
    text-align: center;
    width: 10%; }
  .contactWithUs input {
    width: 100%; }
  .contactWithUs input:focus, .contactWithUs textarea:focus {
    border: 1px solid transparent; }
  .contactWithUs input, .contactWithUs textarea {
    border-radius: 8px; }
  .contactWithUs input {
    height: 50px; }
  .contactWithUs textarea {
    resize: none; }
  .contactWithUs .btn-primary, .contactWithUs .btn-primary:focus {
    background-color: white;
    border: 1px solid #46B594;
    box-shadow: 0 0 3px gray;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
    color: #46B594;
    font-weight: 600;
    padding-top: 13px;
    padding-bottom: 13px; }

/* ============[ contact ]=========== */
#map {
  height: 350px;
  width: 100%; }

/* ============[ footer ]=========== */
.footer {
  background-color: #323737; }
  .footer h5 {
    color: white; }
  .footer .fa {
    color: white; }
  .footer .fa:hover {
    color: #46B594; }

.strip {
  background-color: #222222; }
  .strip h6 {
    color: white;
    font-weight: 400;
    line-height: normal;
    word-spacing: 2px; }

.second-header {
  background-image: url("../../images/blog_cover.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 382px; }

.third-header {
  width: 100%;
  height: 100%;
  margin-top: 2px; }

.main-title-layout {
  color: white;
  padding-top: 215px; }

.blogColor {
  background-color: #333; }

.openPost h6 {
  color: darkgray;
  font-size: 15px; }
.openPost image {
  width: 674.5px;
  height: 100%; }
.openPost p {
  line-height: normal; }
.openPost .link {
  color: black; }

.blogPngBox a {
  text-decoration: none; }
.blogPngBox a {
  color: #222222; }
.blogPngBox .pBox {
  direction: ltr; }
.blogPngBox .page-link {
  border-radius: 10px;
  background-color: #eee;
  border: 2px solid white; }
.blogPngBox .page-link:active:focus {
  background-color: #46B594;
  color: white; }
.blogPngBox .page-item:first-child .page-link {
  margin-left: 0;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px; }
.blogPngBox .page-item:last-child .page-link {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; }

.aboutUsBlogBox .confTitleBlog {
  font-size: 21px; }
.aboutUsBlogBox .underline_member {
  border-top: 2px solid #46B594;
  width: 20%; }

.aboutUsBlogBox_backColor {
  background-color: #eee; }

/* ============[ login ]=========== */
.login {
  /* enable absolute positioning */
  /* style icon */
  /* align icon */
  /* add padding  */ }
  .login .account_title {
    color: #232323; }
  .login .input_boxing {
    padding-right: 15%;
    padding-left: 15%; }
  .login #inputNamel {
    border-radius: 0;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%; }
  .login #inputPass {
    border-radius: 0;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%; }
  .login input[type="text"].inputNamel::-webkit-input-placeholder {
    color: #252525;
    font-size: 1.25vw;
    text-align: right; }
  .login input[type="text"].inputNamel::-moz-placeholder {
    color: #252525;
    font-size: 1.25vw;
    text-align: right; }
  .login input[type="password"].inputPass::-webkit-input-placeholder {
    color: #252525;
    font-size: 1.25vw;
    text-align: right; }
  .login input[type="password"].inputPass::-moz-placeholder {
    color: #252525;
    font-size: 1.25vw;
    text-align: right; }
  .login .inner-addon {
    position: relative; }
  .login .inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none; }
  .login .left-addon .fa {
    left: 0px; }
  .login .right-addon .fa {
    right: 0px; }
  .login .left-addon input {
    padding-left: 30px; }
  .login .right-addon input {
    padding-right: 30px; }
  .login .fa {
    font-size: 1.5vw;
    color: #252525;
    margin-top: 1.4%;
    padding-left: 5%; }
  .login textarea:focus,
  .login input[type="text"]:focus,
  .login input[type="password"]:focus {
    border-color: rgba(0, 226, 255, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 226, 255, 0.6);
    outline: 0 none; }
  .login label.with-square-checkbox {
    cursor: pointer; }
  .login label.with-square-checkbox span {
    line-height: 24px; }
  .login label.with-square-checkbox span::before {
    margin-right: 4px;
    padding-left: 1px;
    width: 21px;
    height: 21px;
    border: 2px solid #00E2FF;
    display: inline-block;
    line-height: 15px;
    content: '';
    float: left; }
  .login label.with-square-checkbox input[type="checkbox"] {
    display: none; }
  .login label.with-square-checkbox input[type="checkbox"]:checked + span::before {
    font-family: FontAwesome;
    content: '\f00c';
    color: #00E2FF; }
  .login li.check_part {
    list-style-type: none; }
  .login .check_title {
    color: #232323;
    text-align: center; }
  .login .boxing_btn_login {
    padding-right: 35%;
    padding-left: 35%; }
  .login .login_button {
    text-align: center;
    font-size: 19px;
    width: 110px;
    color: white;
    background-color: #00E2FF;
    border-radius: 0;
    box-shadow: 0 0 4px gray; }
  @media (max-width: 600px) {
    .login .login_button {
      font-size: 15px; }
    .login input[type="text"].inputNamel::-webkit-input-placeholder {
      font-size: 11px; }
    .login input[type="text"].inputNamel::-moz-placeholder {
      font-size: 11px; }
    .login input[type="password"].inputPass::-webkit-input-placeholder {
      font-size: 11px; }
    .login input[type="password"].inputPass::-moz-placeholder {
      font-size: 11px; }
    .login .login_button {
      font-size: 16px;
      width: 70px; } }
  @media (max-width: 767px) {
    .login .account_title {
      font-size: 15px; }
    .login .check_title {
      font-size: 10px; }
    .login .glyphicon {
      margin-top: 3.5%; }
    .login .login_button {
      font-size: 16px;
      width: 70px; } }
  @media (min-width: 768px) {
    .login .account_title {
      font-size: 18px; }
    .login .check_title {
      font-size: 13px; }
    .login .login_button {
      font-size: 17px;
      width: 80px; } }
  @media (min-width: 992px) {
    .login .account_title {
      font-size: 21px; }
    .login .check_title {
      font-size: 15px; }
    .login .login_button {
      font-size: 17px;
      width: 90px; } }
  @media (min-width: 1200px) {
    .login .account_title {
      font-size: 22px; }
    .login .check_title {
      font-size: 16px; }
    .login .login_button {
      font-size: 18px;
      width: 100px; } }
  .login .edges {
    border: 3px solid #00E2FF;
    box-shadow: 0 0 4px #00E2FF;
    background-color: white;
    padding-bottom: 60px;
    margin-top: 74px; }

.speakerConf img {
  border-radius: 100px; }
.speakerConf .job {
  color: #B2B2B2;
  font-weight: 300;
  font-size: 17px; }

.tooltip > .tooltip-inner {
  background-color: #232323;
  padding: 15px;
  font-family: IRANSans;
  box-shadow: 0 0 2px gray; }

.tooltip.bs-tether-element-attached-bottom .tooltip-inner::before,
.tooltip.tooltip-top .tooltip-inner::before {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: #232323; }

.hover12 figure {
  background: #2e2e2e; }

.hover12 figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out; }

.hover12 figure:hover img {
  opacity: .5; }

figure {
  height: 170px;
  width: 170px;
  background: #fff;
  border-radius: 100px; }

.executiveCadre img {
  border-radius: 100px; }

.javaComponent h5 {
  color: white;
  font-weight: 400; }
.javaComponent p {
  color: #4990E2;
  font-weight: 400; }
.javaComponent img {
  border-radius: 10px; }
.javaComponent .card {
  background-color: transparent;
  border: 1px solid transparent; }

/* Common button styles */
.button {
  border: none;
  background: none;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale; }

.button:focus {
  outline: none; }

.button > span {
  vertical-align: middle; }

/* Ujarak */
.button--ujarak {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s; }

.button--ujarak::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #46B594;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  border-radius: 6px; }

.button--ujarak.button--round-s::before {
  border-radius: 2px; }

.button--ujarak,
.button--ujarak::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1); }

.button--ujarak:hover {
  color: #fff;
  border-color: #46B594; }

.button-:hover {
  color: white; }

.button--ujarak:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.button--border-thin {
  border: 1px solid; }

.button--ujarak--2::before {
  background: white; }

.button--ujarak--2:hover {
  color: #46B594;
  border-color: #46B594; }

.button--ujarak--4::before {
  background: #232323; }

.button--ujarak--4:hover {
  color: #46B594;
  border-color: #46B594; }

.button--ujarak--3::before {
  background: white; }

.button--ujarak--3:hover {
  color: #4990E2;
  border-color: #4990E2; }

/*# sourceMappingURL=application.css.map */
