.button--ujarak--2::before {
  background: white;
}
.button--ujarak--2:hover {
  color: $green;
  border-color: $green;
}

.button--ujarak--4::before {
  background: #232323;
}
.button--ujarak--4:hover {
  color: $green;
  border-color: $green;
}

.button--ujarak--3::before {
  background: white;
}
.button--ujarak--3:hover {
  color:  #4990E2;
  border-color:  #4990E2;
}

