.speakerConf {
  img {
    border-radius: 100px;
  }
  .job {
    color: $gray;
    font-weight: 400;
    font-size: 18px;
  }

}

.tooltip > .tooltip-inner {
  background-color: #232323;
  padding: 15px;
  font-family: IRANSans;
  box-shadow: 0 0 2px gray;
}

.tooltip.bs-tether-element-attached-bottom .tooltip-inner::before,
.tooltip.tooltip-top .tooltip-inner::before {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  content: "";
  border-width: 5px 5px 0;
  border-top-color: #232323;
}

.hover12 figure {
  background: #2e2e2e;
}

.hover12 figure img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.hover12 figure:hover img {
  opacity: .5;
}

figure {
  height: 170px;
  width: 170px;
  background: #fff;
  border-radius: 100px;
}



