h3{
  color:#B2B2B2;
}
$dark          :#222222;
$darker        :#232323;
$green         :#46B594;
$NavyBlue      :#323737;
$gray          :#B2B2B2;
$orange        :#F6A623;
$cyan          :#00E2FF;
$purple        :#DA00FF;
$lightGreen    :#7FFF00;